@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: "#171023"
}

@layer base {
  @font-face {
    font-family: 'Kalam';
    src: url('/assets/font/Kalam-Regular.ttf')format('truetype');
  }
  @font-face {
    font-family: 'Heebo';
    src: url('/assets/font/Heebo-Regular.ttf');
  }

  
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

}
